.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!fonts/**
!styles/**
docs/**
.github/**
.git/hooks/**
validate-themes.js
generate-showcase-args.js
showcase/**
